h2{
    color: white;
}

.infoBox_title{
    color: white;
    opacity: 80%;
}
.infoBox_total{
    color: white;
    opacity: 70%;
}
.infoBox_cases{
    color: rgb(218, 65, 65);
    font-size: 1.5rem;
}