* {
  margin: 0;
}

h3 {
  font-weight: 100;
}

.navbar-custom {
  background-color: #212529;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
}

.app_right {
  flex: 0.7;
}

.app_stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .content {
    flex-direction: column;
  }
}
